.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    background-color: #616161;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

.columns {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 27%;
    padding: 20px;
    text-align: center;
    background-color: #A9A9A9;
    border-radius: 10px;
}
