<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='container.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='button.css') }}">
    <title>SpotifyHelper</title>
</head>
<body>
    <div class="container">
        <h1>Welcome to the Spotify Top Data App!</h1>
        <p>Explore the features of our app:</p>

        <div class="columns">
            <div class="column">
                <h2>Ranking</h2>
                <p>Discover the top-ranked songs and artists:</p>
                <a href="/most-streamed-tracks" class="button">Most Streamed Tracks</a>
                <a href="/most-streamed-artists" class="button">Most Streamed Artists</a>
                <a href="/most-streamed-albums" class="button">Most Streamed Albums</a>
            </div>
            <div class="column">
                <h2>Spotify Utilities</h2>
                <p>Enhance your Spotify experience:</p>
                <a href="/search" class="button">Search</a>
                <a href="/recommend" class="button">Recommendations</a>
                <a href="/your-recommend" class="button">Recommendations based on your history</a>
            </div>
            <div class="column">
                <h2>About You</h2>
                <p>Your music history and tailored recommendations:</p>
                <a href="/your-top-tracks" class="button">Your Most Streamed Tracks</a>
                <a href="/your-top-artists" class="button">Your Most Streamed Artists</a>
            </div>
        </div>
    </div>
</body>
</html>
