<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='button.css') }}">
    <title>SpotifyHelper</title>
</head>
<body>
    <div class="description">
        <h1>Welcome to SpotifyHelper</h1>
        <p>Discover the power of SpotifyHelper! With this app, you can:</p>
        <ul>
            <li>Get the most streamed albums, artists, and tracks of all time on Spotify.</li>
            <li>Search for songs and explore Spotify's vast music library.</li>
            <li>View your personal most streamed albums, artists, and tracks.</li>
            <li>Receive personalized music recommendations.</li>
        </ul>
    </div>
    <br>
    <a class="button" href="/login">Continue</a>
    <br>
    <br>
    <br>
    <img src="https://drive.google.com/uc?id=1qe5FgG2m3e4qYAhMRHGTebILzn4pdAR-" alt="Spotify logo" width="300" height="300">
</body>
</html>
