<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='container.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='button.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
    <title>Search on Spotify</title>
</head>
<body>
    <div class="container">
        <h1>Search on Spotify</h1>
        <form class="search-form" action="/search" method="POST">
            <label for="searchItem">Choose what to search:</label>
            <select id="searchItem" name="item">
                <option value="track">Track</option>
                <option value="artist">Artist</option>
                <option value="album">Album</option>
            </select>
            <label for="searchName">Enter the name to search:</label>
            <input type="text" id="searchName" name="name" required>
            <button class="button" type="submit">Search</button>
        </form>
    </div>
</body>
</html>
